[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "*"
pytest-pep8 = "*"
pytest-warnings = "*"

[dev-packages]
pytest = "*"
hypothesis = "*"
flake8 = "*"
pylint = "*"
pytest-cov = "*"
pytest-xdist = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
